*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(27, 218, 218);
    font-size: 20px;
}
.container{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.First_table{
    width: 280px;
    height: 480px;
    padding: 20px;
    background-color: rgb(86, 200, 253);
    border-radius: 50px;
    border: rgb(32, 30, 30);
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
    margin: 30px 0 30px 0;
}
.First_table_header, .Second_table_header{
    font-size: 14px;
    padding: 0 500px 0 10px;
    text-align: left;
}
.First_table_1, .First_table_2, .First_table_3, .First_table_4, .First_table_5, .Second_table_1, .Second_table_2, .Second_table_3, .Second_table_4, .Second_table_5, .Second_table_6, .Second_table_7, .Second_table_8, .Second_table_9, .Second_table_10, .Second_table_11, .Second_table_12, .Second_table_13, .Second_table_14{
    background: linear-gradient(45deg, rgba(89,255,233,1) 0%, rgba(0,168,255,1) 100%);
    box-shadow: 0 0 5px rgb(0, 174, 255);
    transition: all 0.8s;
    border-radius: 15px;
    padding: 20px 20px 37px 8px;
    margin: 30px 20px 20px 20px;
    font-size: 18px;
}
.First_table_1:hover, .First_table_2:hover, .First_table_3:hover, .First_table_4:hover, .First_table_5:hover, .Second_table_1:hover, .Second_table_2:hover, .Second_table_3:hover, .Second_table_4:hover, .Second_table_5:hover, .Second_table_6:hover, .Second_table_7:hover, .Second_table_8:hover, .Second_table_9:hover, .Second_table_10:hover, .Second_table_11:hover, .Second_table_12:hover, .Second_table_13:hover, .Second_table_14:hover{
    box-shadow: 0 0 9px rgb(4, 138, 247);
    transition: all 1s;
}
.line{
    width: 248px;
    height: 1px;
    background-color: rgb(70, 70, 70);
    margin: 25px 0 23px 0;
}
.view{
    text-decoration: none;
    color: rgb(0, 47, 201);
    padding: 5px 2px;
    border: 2px solid rgb(0, 47, 201);
    border-radius: 10px;
    margin-left: 2px;
}
.view:hover{
    border: 2px solid rgb(24, 57, 163);
    box-shadow: 0 0 3px rgb(24, 57, 163);
}
.view:active{
    font-size: 17px;
    padding: 4px 2px;
}
.lessons{
    text-align: left;
    margin-left: 8px;
}
span{
    margin-left:15px;
    font-size: 14px;
}
.First_table:hover{
    box-shadow: 0 0 4px rgb(0, 217, 255);
}
.Second_table{
    width: 280px;
    height: 1100px;
    padding: 20px;
    background: rgb(86, 200, 253);
    border-radius: 50px;
    border: rgb(32, 30, 30);
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
    margin: 30px 0;
}
.Second_table:hover{
    box-shadow: 0 0 4px rgb(0, 217, 255);
}
.header{
    text-align: center;
    color: rgb(32, 30, 30);
    margin:20px 0;
}
.Second_table_14 > .line{
    margin: 20px 0 19px 0;
}
.Second_table_13 > .line{
    margin: 43px 0 22px 0;
}