*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    color: rgb(99, 179, 165);
    font-size: 20px;
}
.container{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}
.First_table{
    width: 280px;
    height: 480px;
    padding: 20px;
    background-color: rgb(32, 30, 30);
    border-radius: 50px;
    border: rgb(32, 30, 30);
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
    margin: 30px 0 30px 0;
}
.First_table_header, .Second_table_header{
    font-size: 14px;
    padding: 0 500px 0 10px;
    text-align: left;
}
.First_table_1, .First_table_2, .First_table_3, .First_table_4, .First_table_5, .Second_table_1, .Second_table_2, .Second_table_3, .Second_table_4, .Second_table_5{
    background-color: rgb(32, 30, 30);
    box-shadow: 0 0 18px rgb(116, 110, 110);
    border-radius: 15px;
    padding: 20px 20px 37px 8px;
    margin: 30px 20px 20px 20px;
    font-size: 18px;
}
.First_table_1:hover, .First_table_2:hover, .First_table_3:hover, .First_table_4:hover, .First_table_5:hover, .Second_table_1:hover, .Second_table_2:hover, .Second_table_3:hover, .Second_table_4:hover, .Second_table_5:hover{
    box-shadow: 0 0 9px rgb(116, 110, 110);
}
.line{
    width: 248px;
    height: 1px;
    background-color: white;
    margin: 25px 0 23px 0;
}
.view{
    text-decoration: none;
    color: rgb(99, 179, 165);
    padding: 5px 2px;
    border: 2px solid rgb(172, 24, 69);
    border-radius: 10px;
    margin-left: 2px;
}
.view:hover{
    border: 2px solid rgb(145, 20, 57);
}
.view:active{
    font-size: 17px;
    padding: 4px 2px;
}
.lessons{
    text-align: left;
    margin-left: 8px;
}
span{
    margin-left:15px;
    font-size: 14px;
}
.First_table:hover{
    background: radial-gradient(circle, rgba(47,47,47,1) 0%, rgba(54,54,54,1) 36%, rgba(33,33,33,1) 64%, rgba(17,17,17,1) 100%);
}
.Second_table{
    width: 280px;
    height: 480px;
    padding: 20px;
    background-color: rgb(32, 30, 30);
    border-radius: 50px;
    border: rgb(32, 30, 30);
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: flex-start;
    margin: 30px 0;
}
.Second_table:hover{
    background: radial-gradient(circle, rgba(47,47,47,1) 0%, rgba(54,54,54,1) 36%, rgba(33,33,33,1) 64%, rgba(17,17,17,1) 100%);
}
.header{
    text-align: center;
    color: rgb(32, 30, 30);
    margin:20px 0;
}